{
    "swagger": "2.0",
    "info": {
        "title": "My APIs",
        "description": "Get to know more about me through apis",
        "version": "1.0.0"
    },
    "host": "subuapi.mybluemix.net",
    "schemes": [
        "https"
    ],
    "basePath": "/v1",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/summary": {
            "get": {
                "summary": "Brief about me",
                "description": "Summary of my professional background and experience.\n",
                "tags": [
                    "Professional"
                ],
                "responses": {
                    "200": {
                        "description": "Summary object",
                        "schema": {
                            "$ref": "#/definitions/SummaryDefinition"
                        }
                    },
                    "401": {
                        "description": "Access denied",
                        "schema": {
                            "$ref": "#/definitions/ErrorDefinition"
                        }
                    }
                }
            }
        },
        "/organizations": {
            "get": {
                "summary": "Organizations served",
                "description": "List of organizations I have worked for so far.\n",
                "tags": [
                    "Professional"
                ],
                "responses": {
                    "200": {
                        "description": "Organizations list",
                        "schema": {
                            "title": "Organizations",
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/OrganizationDefinition"
                            }
                        }
                    },
                    "401": {
                        "description": "Access denied",
                        "schema": {
                            "$ref": "#/definitions/ErrorDefinition"
                        }
                    }

                }
            }
        },
        "/interests": {
            "get": {
                "summary": "Everything that interests me",
                "description": "My hobbies, engagements and activites apart from work",
                "tags": [
                    "Personal"
                ],
                "responses": {
                    "200": {
                        "description": "List of interests",
                        "schema": {
                            "title": "Interests",
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/InterestDefinition"
                            }
                        }
                    },
                    "401": {
                        "description": "Access denied",
                        "schema": {
                            "$ref": "#/definitions/ErrorDefinition"
                        }
                    }
                }
            }
        },
        "/skills": {
            "get": {
                "summary": "Skills",
                "description": "My technical skills",
                "tags": [
                    "Professional"
                ],
                "responses": {
                    "200": {
                        "description": "Skill set",
                        "schema": {
                            "title": "Skills",
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SkillDefinition"
                            }
                        }
                    },
                    "401": {
                        "description": "Access denied",
                        "schema": {
                            "$ref": "#/definitions/ErrorDefinition"
                        }
                    }
                }
            }
        },
        "/degrees": {
            "get": {
                "summary": "Degrees received",
                "description": "Educational  background",
                "tags": [
                    "Educational"
                ],
                "responses": {
                    "200": {
                        "description": "List of degrees",
                        "schema": {
                            "title": "Degrees",
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/DegreeDefinition"
                            }
                        }
                    },
                    "401": {
                        "description": "Access denied",
                        "schema": {
                            "$ref": "#/definitions/ErrorDefinition"
                        }
                    }
                }
            }
        },
        "/messages": {
            "post": {
                "summary": "Messages",
                "description": "This will send me an email",
                "parameters": [{
                    "name": "body",
                    "in": "body",
                    "description": "Message contents",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/MessageDefinition"
                    }
                }],
                "tags": [
                    "Contact"
                ],
                "responses": {
                    "200": {
                        "description": "Message sent successfully",
                        "schema": {
                            "$ref": "#/definitions/MessageDefinition"
                        }
                    },
                    "401": {
                        "description": "Access denied",
                        "schema": {
                            "$ref": "#/definitions/ErrorDefinition"
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "$ref": "#/definitions/ErrorDefinition"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "SummaryDefinition": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string",
                    "format": "string",
                    "description": "Description"
                },
                "specialities": {
                    "type": "string",
                    "format": "string",
                    "description": "Specialities"
                }
            }
        },
        "OrganizationDefinition": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string",
                    "format": "string",
                    "description": "Name"
                },
                "role": {
                    "type": "string",
                    "format": "string",
                    "description": "Role"
                },
                "description": {
                    "type": "string",
                    "format": "string",
                    "description": "Description"
                },
                "period": {
                    "type": "string",
                    "format": "string",
                    "description": "Period"
                }
            }
        },
        "DegreeDefinition": {
            "type": "object",
            "properties": {
                "degree": {
                    "type": "string",
                    "format": "string",
                    "description": "degree"
                },
                "institute": {
                    "type": "string",
                    "format": "string",
                    "description": "institute"
                },
                "period": {
                    "type": "string",
                    "format": "string",
                    "description": "period"
                }
            }
        },
        "InterestDefinition": {
            "type": "string",
            "properties": {}
        },
        "SkillDefinition": {
            "type": "string",
	    "properties": {} 
        },
        "MessageDefinition": {
            "type": "object",
            "properties": {
                "body": {
                    "type": "string",
                    "format": "string",
                    "description": "Body"
                },
                "sender": {
                    "type": "string",
                    "format": "string",
                    "description": "Sender email"
                }
            },
            "required": ["body", "sender"]
        },
        "ErrorDefinition": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                }
            }
        }
    }
}
